// main btn 
.main-btn {
  background-color: $main-color;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 16px;
  width: fit-content;
  display: block;
  border: 0;
  outline: 0;
  transition: 300ms;
  &:hover {
    background-color: $main-color-dark;
    color: white !important;
  }
  &.btn-radius {
    border-radius: 50px;
  }
}

// btn-border  
.btn-border{
  background-color: transparent;
  color: $white;
  padding: 0.5rem 2rem;
  font-size: 16px;
  width: fit-content;
  display: block;
  border: 1px solid $white;
  outline: 0;
  transition: 300ms;
  &:hover {
    background-color: white !important;
    border: 1px solid $main-color;
    color: $main-color;
  }
}
