//colors
$main-color: #d7272a;
$main-color-dark: #cb2529;
$section-color: #ffffff;
$section-color-dark: #01021a;
$section-color-dark-2: #09091d;
$title-color: #161b2c;
$text-color: #0f0f32;
$white: white;
$black: black;
//transition
$transition: 300ms;
$main-transition: .4s;
$sm-transition: .3s;
$xs-transition: .2s;